<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_banktransfer">
        <observer name="bank_details_data_assigner" instance="Mageinsight\Banktransfer\Observer\BankTransferDataAssigner" />
    </event>
</config>
